@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: rgb(34 34 34);
    --color2: rgb(169, 204, 199);
    --color3: #e6e2e2;
    --color4: rgb(14, 13, 13);
}
.bgColorBody{
    background-color: var(--color2);
}

.bgColorMain{
    background-color: var(--color3);
}

.font1{
    font-family: "Odor Mean Chey";
}
.font2{
    font-family: 'Lato', sans-serif;
}
.bordercolor{
    border-color: var(--color1);
}
.txtshadowNombre{
    color:var(--color2);
    text-shadow: 3px 2px 3px var(--color4);
}
.txtshadowEducation{
    color:var(--color3);
    text-shadow: 3px 2px 3px var(--color4);
}
.borderDiv{
    border-left: solid 1px var(--color1);
    padding-left: 1em;
}
.bordertop{
    border-top: solid 1px var(--color1);
    width: 90%;
    margin: 0 auto;
}


.skill{
    position: relative;
    display: inline-block;
    flex-wrap: wrap;

    color: #171515;
    font-family: var(--font2);
    font-size: 1.5em;

    padding: 3px;
    margin: 2px;    
}

/* Style section Projects */

article {
    --img-scale: 1.001;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}


article h2 {
    margin: 0 0 18px 0;
    font-family: var(--font1);
    font-size: 1.9rem;
    color: var(--color1);
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}
.article-body>p{
    font-family: var(--font2);
    color: var(--color1);
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--color1);
    font-family: var(--font1);
}

article a:focus {
    outline: 1px dotted var(--color1);
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: var(--color1);
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 
                0px 10px 36px 0px, 
                rgba(0, 0, 0, 0.06) 
                0px 0px 0px 1px;
}

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}
